.ant-table-thead > tr > th{
  background: red;
}
.yellow{
  background: yellow ;
  margin-left: 10px;
  display: inline-block;
}
.red{
  background: red;
  margin-left: 10px;
  display: inline-block;


}
.green{
  background: green;
}